body {
  background-color: lightblue;
  color: black;
}

* {
  text-align: center;
}

/* Navbar Container */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links that change color when cursor hovers over it */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Header color and font */
.header {
  background-color: white;
  font-family: darker grotesque, sans-serif;
}

/* Header 1 */
.header h1 {
  margin: 0;
}

#break {
  height: 100px;
}
/* Quote about family and friends */
.quote {
  margin-bottom: 50px;
}

 /* Bootstrap makes a box for columns to be in: Images/Text can be in columns-- are supposed to be for the size of screen when viewing */
.container-fluid {
  display: flex;
  flex-direction: row;
  padding: 0;
}

 /* Background of column that is size 3, stuff inside the column does not flow past the column */
.col-2 {
  background-color: white;
  padding: 0;
  overflow: hidden;
}

 /* Size of image */
/* .col-3 img {
  width: 30vw;
  height: 50vh;
} */

.col-2 img:hover{
  display:Text
}

.col-8 img {
  display: flex;
  flex direction: row;
  justify-content: center;
  padding: 15px
}

* {box-sizing: border-box;}


/* Footer's background color, padding size, color, font, alignment */
#footer {
 background-color: white;
 padding: 50px;
 color: black;
 font-family: darker grotesque, sans-serif;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

/* Text color */
#footer a {
 color:black;

}
