body {
  background-color: darkgrey;
  color: darkred;
}

* {
  text-align: center;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.header {
  background-color: white;
  font-family: darker grotesque, sans-serif;
}

.header h1 {
  margin: 0;
}

#break {
  height: 100px;
}

.quote {
  margin-bottom: 50px;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.col-3 {
  background-color: white;
  padding: 0;
  overflow: hidden;
}



#footer {
  background-color: white;
  padding: 50px;
  color: black;
  font-family: darker grotesque, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer a {
  color:black;

}

.col-3 img {
  width: 30vw;
  height: 50vh;
}


@media(max-width:777px) {
  .topnav {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
  }
}
